/* https://meiert.com/en/blog/how-to-order-css-selectors */
/* 01. Universal */
/* 02. Document */
/* 03. Metadata */
/* 04. Sectioning and Structuring */
/* 05. Headings */
/* 06. Lists */
/* 07. Media */
/* 08. Forms */
/* 09. Tables */
/* 10. Phrasing */
/* 11. Misc */
/* 12. Attributes */

/* 01. Universal */
*, *::before, *::after {
    box-sizing: border-box;
}

:host {
    --default-box-shadow-color: rgba(0, 0, 0, 0.5);
    --default-blue-color: rgba(13, 157, 218, 0.5);
    --default-gray-color: rgba(163, 170, 174);
    --default-green-color: rgba(217, 234, 211);
    --default-box-shadow: 5px 5px 5px 1px var(--default-box-shadow-color);
    --default-border-solid: 1px solid var(--default-gray-color);
    --default-font-size: 16px;
    --default-line-height: 30px;
    --default-font-family: 'Arial', sans-serif;
    --default-font: var(--default-font-size) / var(--default-line-height) var(--default-font-family);
}

/* 06. Lists */
ul, ul li {
    display: inline-block;
}

ul li ul {
    display: none;
}

li::selection {
    background-color: var(--default-blue-color);
}

/* 07. Media */
img {
    border-radius: 5px;
}

img::selection {
    background-color: var(--default-blue-color);
}

/* 10. Phrasing */
a::selection {
    background-color: var(--default-blue-color);
}

/* 12. Attributes */
.container-outer {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: var(--default-green-color);
}

.container {
    border-bottom: var(--default-border-solid);
    margin: 0px auto;
}

.container-img-photo {
    max-height: 70px;
    max-width: 70px;
    display: none;
    margin: 0px 50px 10px 100px;
}

.img-photo:hover {
    animation: grow 5s;
}

.nav-menu {
    margin: 10px 0px 0px;
}

.nav-menu li:not(:first-child) {
    display: none;
}

.nav-menu a {
    float: left;
    text-decoration: none;
    font: var(--default-font);
    padding: 10px;
    margin: 0px 0px 10px;
    color: rgba(0, 0, 0);
}

.nav-menu a:hover {
    border: var(--default-border-solid);
    border-radius: 5px;
    background-color: var(--default-blue-color);
    box-shadow: var(--default-box-shadow);
}

.nav-menu a.icon {
    float: right;
    display: block;
}

.nav-menu.responsive {
    position: relative;
}

.nav-menu.responsive ul li, .nav-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
}

.nav-menu.responsive a.icon {
    position: absolute;
    top: 0;
    right: 0;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* 06. Lists */
    ul li:hover ul {
        width: 300px;
        position: absolute;
        top: 60px;
        display: block;
        border: var(--default-border-solid);
        border-radius: 5px;
        background-color: var(--default-green-color);
        box-shadow: var(--default-box-shadow);
    }

    /* 12. Attributes */
    .container {
        max-width: 1600px;
        display: flex;
        justify-content: flex-start;
    }

    .container-img-photo {
        display: inline-flex;
    }

    .nav-menu li:not(:first-child) {
        display: inline-block;
    }

    .nav-menu a {
        margin: 0px 50px 0px 0px;
    }

    .nav-menu a.icon {
        display: none;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(2) translateY(17px);
    }
    50% {
        transform: scale(2) translateY(17px);
    }
    to {
        transform: scale(1);
    }
}