/* https://meiert.com/en/blog/how-to-order-css-selectors */
/* 01. Universal */
/* 02. Document */
/* 03. Metadata */
/* 04. Sectioning and Structuring */
/* 05. Headings */
/* 06. Lists */
/* 07. Media */
/* 08. Forms */
/* 09. Tables */
/* 10. Phrasing */
/* 11. Misc */
/* 12. Attributes */

/* 05. Headings */
h1 {
    font: 32px Arial, sans-serif;
    color: rgba(0, 0, 0);
}

h1::selection, h4::selection {
    background-color: rgba(13, 157, 218, 0.5);
}

h4 {
    font: bold 16px/30px Arial, sans-serif;
    color: rgba(0, 0, 0);
}

/* 07. Media */
/* https://imageresizer.com */
img {
    border-radius: 5px;
}

img::selection {
    background-color: rgba(13, 157, 218, 0.5);
}

/* 08. Forms */
label::selection, button::selection {
    background-color: rgba(13, 157, 218, 0.5);
}

button {
    border: 1px solid rgba(163, 170, 174);
    border-radius: 5px;
    font: 16px/30px Arial, sans-serif;
    background-color: rgba(13, 157, 218, 0.5);
    color: rgba(0, 0, 0);
}

button:hover {
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

/* 10. Phrasing */
a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
}

a::selection, span::selection {
    background-color: rgba(13, 157, 218, 0.5);
}

/* 12. Attributes */
.container-outer {
    margin: 50px auto 0px;
    background-color: rgba(217, 234, 211);
}

.container {
    margin: 0px auto;
}

.container-card {
    border-radius: 5px;
}

.card {
    box-sizing: border-box;
    height: 250px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid rgba(163, 170, 174);
    border-radius: 5px;
    margin: 0px auto 25px;
    background-color: rgba(163, 170, 174, 0.5);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5); /* Add shadow to create "card" effect */
    transition: 0.3s;
}

.card:hover {
    animation: grow 5s;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5); /* On mouse-over, add deeper shadow */
}

.card h4 {
    align-self: flex-end;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .back-to-top {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 9;
    display: none;
    font: 32px Arial, sans-serif;
}

.tooltip .tooltiptext {
    box-sizing: border-box;
    width: 100px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    z-index: 1;
    visibility: hidden;
    border-radius: 5px;
    font: 16px Arial, sans-serif;
    padding: 5px 0;
    margin-left: -50px;
    background-color: rgba(13, 157, 218, 0.5);
    color: rgba(0, 0, 0);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(13, 157, 218, 0.5) transparent transparent transparent;
    content: "";
    margin-left: -5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* 12. Attributes */
    .container-outer {
        margin: 40px auto 0px;
    }

    .container {
        box-sizing: border-box;
        max-width: 1200px;
    }

    .container-card {
        display: flex;
        justify-content: space-evenly;
    }

    .card {
        box-sizing: border-box;
        height: 325px;
        width: 300px;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1.25);
    }
    to {
        transform: scale(1);
    }
}